; Latents
latent_resolution_residue = auto
hyperlatent_resolution_residue = auto
; ARMs
arm_residue = 10,2/stabiliser
output_feature_ifce_residue = 4
ifce_resolution_residue = 0-2
; Synthesis
layers_synthesis_residue = 48-1-linear-relu,X-1-linear-none,X-3-residual-none/stabiliser
ups_k_size_residue = 8
ups_preconcat_k_size_residue = 7
