.vscode/
images/
venv/
*.pyc
*.pt
*.png
*.out
*.DS_Store
*.nfs*

!samples/encode_image.sh
!samples/decode_image.sh
!samples/biville.png
!samples/biville_1152x768_1p_yuv420_8b.yuv
!samples/biville_1152x768_1p_yuv420_10b.yuv


