; Latents
latent_resolution_motion = 2-6
hyperlatent_resolution_motion = no
; ARMs
arm_motion = 6,1/stabiliser
output_feature_ifce_motion = 2
ifce_resolution_motion = no
; Synthesis
layers_synthesis_motion = 8-1-linear-relu,X-1-linear-none/stabiliser
ups_k_size_residue = 8
ups_preconcat_k_size_motion = 7
; Warp
warp_filter_size = 8